<div class="container text-center my-3">
    <div class="jumbotron bg-dark text-white">
        <h1>Random</h1>
        <div class="jumbotron text-dark">
            <h3>Cálculo de {{cant}} números aleatorios</h3>
            <div id="randomCount" ></div>
        </div>
    </div>
</div>